BODY {
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: Times New; BACKGROUND-COLOR: lightyellow
}
TD.headline {
	FONT-SIZE: 20pt; FONT-FAMILY: Helvetica
}
H1 {
	BORDER-RIGHT: thin; BORDER-TOP: thin; MARGIN-TOP: 2pt; PADDING-LEFT: 3pt; MARGIN-BOTTOM: 8pt; BORDER-LEFT: thin; WIDTH: 100%; LINE-HEIGHT: 130%; BORDER-BOTTOM: thin; FONT-FAMILY: Helvetica; BACKGROUND-COLOR: #eecc99
}
H2 {
	BORDER-RIGHT: thin; BORDER-TOP: thin; MARGIN-TOP: 2pt; PADDING-LEFT: 3pt; MARGIN-BOTTOM: 8pt; BORDER-LEFT: thin; WIDTH: 100%; LINE-HEIGHT: 130%; BORDER-BOTTOM: thin; FONT-FAMILY: Helvetica; BACKGROUND-COLOR: #eecc99
}
H3 {
	BORDER-RIGHT: thin; BORDER-TOP: thin; MARGIN-TOP: 2pt; PADDING-LEFT: 3pt; MARGIN-BOTTOM: 8pt; BORDER-LEFT: thin; WIDTH: 100%; LINE-HEIGHT: 130%; BORDER-BOTTOM: thin; FONT-FAMILY: Helvetica; BACKGROUND-COLOR: #eecc99
}
H4 {
	BORDER-RIGHT: thin; BORDER-TOP: thin; MARGIN-TOP: 2pt; PADDING-LEFT: 3pt; MARGIN-BOTTOM: 8pt; BORDER-LEFT: thin; WIDTH: 100%; LINE-HEIGHT: 130%; BORDER-BOTTOM: thin; FONT-FAMILY: Helvetica; BACKGROUND-COLOR: #eecc99
}
H5 {
	BORDER-RIGHT: thin; BORDER-TOP: thin; MARGIN-TOP: 2pt; PADDING-LEFT: 3pt; MARGIN-BOTTOM: 8pt; BORDER-LEFT: thin; WIDTH: 100%; LINE-HEIGHT: 130%; BORDER-BOTTOM: thin; FONT-FAMILY: Helvetica; BACKGROUND-COLOR: #eecc99
}
H1 {
	FONT-SIZE: 18pt; BACKGROUND-COLOR: #dca452
}
H2 {
	PADDING-LEFT: 6pt; FONT-SIZE: 16pt; BACKGROUND-COLOR: #f6af6d
}
H3 {
	PADDING-LEFT: 10pt; FONT-SIZE: 13pt; BACKGROUND-COLOR: #ffd6b7
}
H4 {
	PADDING-LEFT: 14pt; FONT-SIZE: 11pt; BACKGROUND-COLOR: #eedbd6
}
H5 {
	PADDING-LEFT: 18pt; FONT-SIZE: 9pt; BACKGROUND-COLOR: #eeebf6
}
A:link {
	COLOR: #993306
}
A:visited {
	COLOR: #bb7733
}
A.nonexistent {
	FONT-WEIGHT: bold; COLOR: #ff2222; BACKGROUND-COLOR: #f8f8f8
}
A.nonexistent:visited {
	COLOR: #ff2222; BACKGROUND-COLOR: #f8f8f8
}
A.external {
	COLOR: #aa6600
}
DL {
	MARGIN-TOP: 1pt
}
UL {
	MARGIN-TOP: 1pt
}
OL {
	MARGIN-TOP: 1pt
}
TT {
	FONT-SIZE: 10pt; LINE-HEIGHT: 130%; FONT-FAMILY: Courier New,Courier,monotype
}
PRE {
	FONT-SIZE: 10pt; LINE-HEIGHT: 130%; FONT-FAMILY: Courier New,Courier,monotype
}
PRE.code {
	BORDER-RIGHT: thin; BORDER-TOP: thin; MARGIN-TOP: 8pt; MARGIN-BOTTOM: 8pt; BORDER-LEFT: thin; WIDTH: 100%; LINE-HEIGHT: 130%; BORDER-BOTTOM: thin; WHITE-SPACE: pre; BACKGROUND-COLOR: #e0e0e0
}
SPAN.diffold {
	BORDER-RIGHT: thin; BORDER-TOP: thin; BORDER-LEFT: thin; WIDTH: 100%; BORDER-BOTTOM: thin; BACKGROUND-COLOR: #ffff80
}
DIV.diffold {
	BORDER-RIGHT: thin; BORDER-TOP: thin; BORDER-LEFT: thin; WIDTH: 100%; BORDER-BOTTOM: thin; BACKGROUND-COLOR: #ffff80
}
SPAN.diffnew {
	BORDER-RIGHT: thin; BORDER-TOP: thin; BORDER-LEFT: thin; WIDTH: 100%; BORDER-BOTTOM: thin; BACKGROUND-COLOR: #80ff80
}
DIV.diffnew {
	BORDER-RIGHT: thin; BORDER-TOP: thin; BORDER-LEFT: thin; WIDTH: 100%; BORDER-BOTTOM: thin; BACKGROUND-COLOR: #80ff80
}
STRONG.highlight {
	BACKGROUND-COLOR: #ffbbbb
}
TABLE.wiki {
	FONT-SIZE: 10pt; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-COLOR: silver; BORDER-TOP-COLOR: silver; LINE-HEIGHT: 130%; BACKGROUND-COLOR: #e0f4ff; BORDER-RIGHT-COLOR: silver
}
TABLE.closure {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-COLOR: silver; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; BORDER-TOP-COLOR: silver; LINE-HEIGHT: 130%; PADDING-TOP: 5px; BACKGROUND-COLOR: #eff3ce; TEXT-ALIGN: left; BORDER-RIGHT-COLOR: silver
}
TR.closure {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-COLOR: silver; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; BORDER-TOP-COLOR: silver; LINE-HEIGHT: 130%; PADDING-TOP: 5px; BACKGROUND-COLOR: #eff3ce; TEXT-ALIGN: left; BORDER-RIGHT-COLOR: silver
}
TD.closure {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-COLOR: silver; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; BORDER-TOP-COLOR: silver; LINE-HEIGHT: 130%; PADDING-TOP: 5px; BACKGROUND-COLOR: #eff3ce; TEXT-ALIGN: left; BORDER-RIGHT-COLOR: silver
}
TABLE.multipleLineCell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-COLOR: silver; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; BORDER-TOP-COLOR: silver; LINE-HEIGHT: 130%; PADDING-TOP: 5px; BACKGROUND-COLOR: #eff3ce; TEXT-ALIGN: left; BORDER-RIGHT-COLOR: silver
}
TR.multipleLineCell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-COLOR: silver; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; BORDER-TOP-COLOR: silver; LINE-HEIGHT: 130%; PADDING-TOP: 5px; BACKGROUND-COLOR: #eff3ce; TEXT-ALIGN: left; BORDER-RIGHT-COLOR: silver
}
TD.multipleLineCell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-COLOR: silver; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; BORDER-TOP-COLOR: silver; LINE-HEIGHT: 130%; PADDING-TOP: 5px; BACKGROUND-COLOR: #eff3ce; TEXT-ALIGN: left; BORDER-RIGHT-COLOR: silver
}
SPAN.closure {
	LINE-HEIGHT: 130%; BACKGROUND-COLOR: #ffff99
}
SPAN.insert_diff {
	BACKGROUND-COLOR: #9999ff; TEXT-DECORATION: underline; blue: 
}
SPAN.delete_diff {
	BACKGROUND-COLOR: red; TEXT-DECORATION: line-through
}
SPAN.replace_diff {
	BACKGROUND-COLOR: silver
}
TABLE.recentchanges {
	FONT-SIZE: x-small; LINE-HEIGHT: 130%
}
A.cal-emptyday {
	COLOR: #777777; TEXT-ALIGN: center
}
A.cal-usedday {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-ALIGN: center
}
TD.cal-workday {
	BACKGROUND-COLOR: #ddddff; TEXT-ALIGN: center
}
TD.cal-weekend {
	BACKGROUND-COLOR: #ffdddd; TEXT-ALIGN: center
}
TD.cal-today {
	BORDER-RIGHT: #336600 2pt solid; BORDER-TOP: #336600 2pt solid; BORDER-LEFT: #336600 2pt solid; BORDER-BOTTOM: #336600 2pt solid; BACKGROUND-COLOR: #ccffcc; TEXT-ALIGN: center
}
TD.cal-invalidday {
	BACKGROUND-COLOR: #cccccc
}
A.cal-link {
	COLOR: #000000; TEXT-DECORATION: none
}
TH.cal-header {
	BACKGROUND-COLOR: #ddbbff; TEXT-ALIGN: center
}
