BODY {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
TH {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
TD {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
P {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
DIV {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
SPAN {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
A {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
.main {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
.pop-main {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
.date-stamp {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
.redlink {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
INPUT {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
SELECT {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
TEXTAREA {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
FORM {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
UL {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
OL {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
DL {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
H1 {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
H2 {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
H3 {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
H4 {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
H5 {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
H6 {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
LI {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
.sunfont {
	FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
BODY {
	FONT-SIZE: 10pt
}
TH {
	FONT-SIZE: 10pt
}
TD {
	FONT-SIZE: 10pt
}
P {
	FONT-SIZE: 10pt
}
SPAN {
	FONT-SIZE: 10pt
}
A {
	FONT-SIZE: 10pt
}
DIV {
	FONT-SIZE: 10pt
}
LI {
	FONT-SIZE: 10pt
}
UL {
	FONT-SIZE: 10pt
}
OL {
	FONT-SIZE: 10pt
}
BODY {
	COLOR: #333
}
TH {
	COLOR: #333
}
TD {
	COLOR: #333
}
P {
	COLOR: #333
}
CODE {
	FONT-SIZE: 10pt; COLOR: #666; FONT-FAMILY: monaco,courier,"courier new"
}
KBD {
	FONT-SIZE: 10pt; COLOR: #666; FONT-FAMILY: monaco,courier,"courier new"
}
TT {
	FONT-SIZE: 10pt; COLOR: #666; FONT-FAMILY: monaco,courier,"courier new"
}
PRE {
	FONT-SIZE: 10pt; COLOR: #666; FONT-FAMILY: monaco,courier,"courier new"
}
H1 {
	MARGIN-TOP: 0px; COLOR: #000; PADDING-TOP: 0px
}
H2 {
	MARGIN-TOP: 0px; COLOR: #000; PADDING-TOP: 0px
}
H3 {
	MARGIN-TOP: 0px; COLOR: #000; PADDING-TOP: 0px
}
H4 {
	MARGIN-TOP: 0px; COLOR: #000; PADDING-TOP: 0px
}
H5 {
	MARGIN-TOP: 0px; COLOR: #000; PADDING-TOP: 0px
}
H6 {
	MARGIN-TOP: 0px; COLOR: #000; PADDING-TOP: 0px
}
H1 {
	FONT-SIZE: 15pt
}
H2 {
	FONT-SIZE: 15pt
}
H3 {
	FONT-SIZE: 15pt
}
H1 SPAN {
	FONT-SIZE: 15pt
}
H2 SPAN {
	FONT-SIZE: 15pt
}
H3 SPAN {
	FONT-SIZE: 15pt
}
H1 A {
	FONT-SIZE: 15pt
}
H2 A {
	FONT-SIZE: 15pt
}
H3 A {
	FONT-SIZE: 15pt
}
H4 {
	FONT-SIZE: 14pt
}
H4 SPAN {
	FONT-SIZE: 14pt
}
H4 A {
	FONT-SIZE: 14pt
}
H5 {
	FONT-SIZE: 11pt
}
H6 {
	FONT-SIZE: 11pt
}
BIG {
	FONT-SIZE: 11pt
}
.big {
	FONT-SIZE: 11pt
}
H5 SPAN {
	FONT-SIZE: 11pt
}
H6 SPAN {
	FONT-SIZE: 11pt
}
BIG SPAN {
	FONT-SIZE: 11pt
}
.big SPAN {
	FONT-SIZE: 11pt
}
H5 A {
	FONT-SIZE: 11pt
}
H6 A {
	FONT-SIZE: 11pt
}
.big A {
	FONT-SIZE: 11pt
}
BIG A {
	FONT-SIZE: 11pt
}
DT {
	FONT-WEIGHT: bold; PADDING-TOP: 5px
}
UL {
	LIST-STYLE-TYPE: disc
}
UL UL {
	LIST-STYLE-TYPE: circle
}
UL UL UL {
	LIST-STYLE-TYPE: square
}
HR {
	COLOR: #000; HEIGHT: 1px
}
.gnlnk {
	COLOR: #f90
}
.brd {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.mstmnu {
	MARGIN-TOP: 0px; PADDING-LEFT: 2px; FLOAT: left; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px
}
.srchbx {
	MARGIN-TOP: 0px; FLOAT: right; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px
}
.gfbtn {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px
}
A.nonuw:link {
	COLOR: #fff; TEXT-DECORATION: none
}
A.nonuw:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
A.nonuw:active {
	COLOR: #f00; TEXT-DECORATION: none
}
A.nonuw:hover {
	COLOR: #ccf; TEXT-DECORATION: none
}
A.undw:link {
	COLOR: #fff
}
A.undw:visited {
	COLOR: #fff
}
A.undw:active {
	COLOR: #ccf
}
A.undw:hover {
	COLOR: #ccf
}
TD.tid {
	FONT-WEIGHT: bold; COLOR: #fff
}
.pop-tid {
	FONT-WEIGHT: bold; COLOR: #fff
}
TD.tid {
	PADDING-LEFT: 4px; TEXT-INDENT: 4px
}
A.nonu:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.nonu:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.nonuc:active {
	COLOR: #000; TEXT-DECORATION: none
}
.brd A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.brd A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.nonu:active {
	COLOR: #f00; TEXT-DECORATION: none
}
A.nonu:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
A.nonuc:link {
	COLOR: #f00; TEXT-DECORATION: none
}
A.nonuc:visited {
	COLOR: #f00; TEXT-DECORATION: none
}
.brd A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
A.nonuc:hover {
	COLOR: #333; TEXT-DECORATION: none
}
TD.citm {
	PADDING-RIGHT: 2px; BACKGROUND: #fff; COLOR: #f00; TEXT-ALIGN: right
}
TD.itm {
	PADDING-RIGHT: 2px; COLOR: #000; TEXT-ALIGN: right
}
.hde {
	VISIBILITY: hidden
}
DIV.cpyftr {
	PADDING-RIGHT: 3px; PADDING-LEFT: 8px; PADDING-BOTTOM: 7px; COLOR: #fff; PADDING-TOP: 5px
}
DIV.cpyftr-add {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 3px
}
.sec-body {
	MARGIN-TOP: 0px; BACKGROUND: url(old_sec_strip.gif) #669 fixed repeat-x
}
.sec-mast {
	MARGIN-TOP: 8px
}
.sec-titlebar {
	POSITION: fixed; TOP: 0px
}
.sec-titlebar TABLE {
	BACKGROUND: #c30
}
.sec-title {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.sec-title {
	COLOR: #fff; TEXT-DECORATION: none
}
.sec-title A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.sec-title A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.sec-title A:hover {
	COLOR: #300; TEXT-DECORATION: none
}
.sec-title A:active {
	COLOR: #300; TEXT-DECORATION: none
}
.pop-body {
	BACKGROUND: #669
}
.pop-topline {
	BACKGROUND: #669
}
.pop-topline {
	BACKGROUND: url(old_pop-line.gif) repeat-x 50% bottom
}
.pop-mast TD {
	BACKGROUND: #000
}
.pop-gnlnk {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.pop-tid {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
TD.pop-brd {
	BACKGROUND: #ccf
}
TD.pop-brd DIV.brd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; PADDING-TOP: 0px
}
DIV.pop-main {
	MARGIN: 2px 2px 1px
}
.pop-bttn TD {
	BACKGROUND: #ddd
}
TR.pop-ftr TD {
	BACKGROUND: #000
}
.pop-minftr TD {
	BACKGROUND: #000
}
TD.pop-cpyftr DIV.cpyftr {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; BACKGROUND: #000; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px
}
.redcopy {
	COLOR: #c33
}
.whtcopy {
	COLOR: #fff
}
.dkbluecopy {
	COLOR: #669
}
.ltgreycopy {
	COLOR: #888
}
.whitehdr {
	COLOR: #fff
}
A.unbl:link {
	COLOR: #000
}
A.unbl:visited {
	COLOR: #000
}
A.unbl:active {
	COLOR: #f00
}
A.unbl:hover {
	COLOR: #f00
}
A.unwt:link {
	COLOR: #fff
}
A.unwt:visited {
	COLOR: #fff
}
A.unwt:active {
	COLOR: #f00
}
A.unwt:hover {
	COLOR: #f00
}
.solo-pad {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 9px
}
DIV.group-pad {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-TOP: 9px
}
DIV.group-pad P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 2px
}
DIV.group-pad DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 2px
}
.main1 {
	MARGIN: 10px
}
.main2 {
	MARGIN: 5px 0px 0px
}
.main3 {
	MARGIN: 0px 10px
}
.main4 {
	MARGIN: 10px 10px 0px
}
.main5 {
	MARGIN: 10px 0px 0px
}
.fea-main1 {
	MARGIN: 5px 8px 10px
}
.fea-main2 {
	MARGIN: 5px 0px 0px
}
.menupad {
	MARGIN: 1px 3px 4px 2px
}
.padded {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
UL.padded {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.date-stamp {
	MARGIN: 8px 2px 0px 0px; COLOR: #666; TEXT-ALIGN: right
}
.prev-next {
	COLOR: #c33; TEXT-ALIGN: center
}
.prev-next A:link {
	COLOR: #c33
}
.prev-next A:visited {
	COLOR: #c33
}
A.redlink:link {
	COLOR: #c33
}
A.redlink:visited {
	COLOR: #c33
}
A.redlink:active {
	COLOR: #c33
}
.prev-next A:hover {
	COLOR: #f00
}
A.redlink:hover {
	COLOR: #f00
}
.frm {
	FONT-WEIGHT: bold; BACKGROUND: #ccf; COLOR: #000; TEXT-DECORATION: none
}
.bttn {
	FONT-WEIGHT: bold; BACKGROUND: #ccf; COLOR: #000; TEXT-DECORATION: none
}
SPAN.pull {
	FONT-WEIGHT: bold; BACKGROUND: #ccf; COLOR: #000; TEXT-DECORATION: none
}
SPAN.pull SELECT {
	FONT-WEIGHT: bold; BACKGROUND: #ccf; COLOR: #000; TEXT-DECORATION: none
}
.linespace {
	LINE-HEIGHT: 112%
}
P.intro {
	LINE-HEIGHT: 112%
}
.just {
	TEXT-ALIGN: justify
}
.bold {
	FONT-WEIGHT: bold
}
TR.bold TD {
	FONT-WEIGHT: bold
}
TR.bold TH {
	FONT-WEIGHT: bold
}
.italic {
	FONT-STYLE: italic
}
TR.italic TD {
	FONT-STYLE: italic
}
TR.italic TH {
	FONT-STYLE: italic
}
.whtbld {
	FONT-WEIGHT: bold; COLOR: #fff
}
.blkbld {
	FONT-WEIGHT: bold; COLOR: #000
}
.blknote {
	FONT-WEIGHT: bold; COLOR: #000
}
.note {
	FONT-WEIGHT: bold; COLOR: #000
}
.redbld {
	FONT-WEIGHT: bold; COLOR: #f00
}
.rednote {
	FONT-WEIGHT: bold; COLOR: #f00
}
.new {
	FONT-WEIGHT: bold; COLOR: #f00
}
.updated {
	FONT-WEIGHT: bold; COLOR: #f00
}
.blknote {
	TEXT-TRANSFORM: uppercase
}
.note {
	TEXT-TRANSFORM: uppercase
}
.rednote {
	TEXT-TRANSFORM: uppercase
}
.new {
	TEXT-TRANSFORM: uppercase
}
.updated {
	TEXT-TRANSFORM: uppercase
}
.updated {
	LETTER-SPACING: 0.2em
}
P.intro {
	FONT-WEIGHT: bold; COLOR: #669
}
P.quote {
	PADDING-RIGHT: 4%; PADDING-LEFT: 4%; COLOR: #900
}
P.credit {
	PADDING-RIGHT: 30px; PADDING-LEFT: 60px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
P.compact {
	MARGIN-TOP: 0px
}
A.blklink:link {
	COLOR: #000
}
A.blklink:visited {
	COLOR: #000
}
A.blklink:active {
	COLOR: #000
}
A.blklink:hover {
	COLOR: #666
}
TABLE.pqt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 7px; PADDING-TOP: 0px
}
TABLE.pqt TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffc; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.pq {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid
}
DIV.pq .quote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px
}
DIV.pq .credit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
TR.title-bg TD {
	BACKGROUND: url(old_bev_top.gif) repeat-x
}
TD.title-bg {
	BACKGROUND: url(old_bev_top.gif) repeat-x
}
TR.bottom-bg TD {
	BACKGROUND: url(old_bev_bottom.gif) repeat-x
}
TD.bottom-bg {
	BACKGROUND: url(old_bev_bottom.gif) repeat-x
}
TR.line-bg TD {
	BACKGROUND: url(old_tile-hr.gif) repeat-x
}
TD.line-bg {
	BACKGROUND: url(old_tile-hr.gif) repeat-x
}
TABLE.promo {
	BACKGROUND: #fc6
}
TABLE.present {
	BACKGROUND: #c60
}
TABLE.dkgrey {
	BACKGROUND: #666
}
TABLE.ltgrey {
	BACKGROUND: #ccc
}
TABLE.dkblue {
	BACKGROUND: #669
}
TABLE.ltblue {
	BACKGROUND: #ccf
}
TABLE.black {
	BACKGROUND: #000
}
TD.cpyftr {
	BACKGROUND: #000
}
TABLE.white {
	BACKGROUND: #fff
}
TABLE.dkred {
	BACKGROUND: #c33
}
TABLE.ltred {
	BACKGROUND: #f99
}
TABLE.dktan {
	BACKGROUND: #c96
}
TABLE.lttan {
	BACKGROUND: #ffc
}
TABLE.vltgrey {
	BACKGROUND: #e8e8e8
}
TABLE.yell {
	BACKGROUND: #ff6
}
TABLE.green {
	BACKGROUND: #cc6
}
TABLE.orange {
	BACKGROUND: #f90
}
TD.black {
	BACKGROUND: #000; COLOR: #fff
}
TH.black {
	BACKGROUND: #000; COLOR: #fff
}
TR.black TD {
	BACKGROUND: #000; COLOR: #fff
}
TR.black TH {
	BACKGROUND: #000; COLOR: #fff
}
TABLE TR TD.black {
	BACKGROUND: #000; COLOR: #fff
}
TABLE TR TH.black {
	BACKGROUND: #000; COLOR: #fff
}
TD.promo {
	BACKGROUND: #fc6; COLOR: #000
}
TH.promo {
	BACKGROUND: #fc6; COLOR: #000
}
TR.promo TD {
	BACKGROUND: #fc6; COLOR: #000
}
TR.promo TH {
	BACKGROUND: #fc6; COLOR: #000
}
TABLE TR TD.promo {
	BACKGROUND: #fc6; COLOR: #000
}
TABLE TR TH.promo {
	BACKGROUND: #fc6; COLOR: #000
}
TD.present {
	BACKGROUND: #c60; COLOR: #fff
}
TH.present {
	BACKGROUND: #c60; COLOR: #fff
}
TR.present TD {
	BACKGROUND: #c60; COLOR: #fff
}
TR.present TH {
	BACKGROUND: #c60; COLOR: #fff
}
TABLE TR TD.present {
	BACKGROUND: #c60; COLOR: #fff
}
TABLE TR TH.present {
	BACKGROUND: #c60; COLOR: #fff
}
TD.dkred {
	BACKGROUND: #c33; COLOR: #fff
}
TH.dkred {
	BACKGROUND: #c33; COLOR: #fff
}
TR.dkred TD {
	BACKGROUND: #c33; COLOR: #fff
}
TR.dkred TH {
	BACKGROUND: #c33; COLOR: #fff
}
TABLE TR TD.dkred {
	BACKGROUND: #c33; COLOR: #fff
}
TABLE TR TH.dkred {
	BACKGROUND: #c33; COLOR: #fff
}
TD.ltred {
	BACKGROUND: #f99; COLOR: #000
}
TH.ltred {
	BACKGROUND: #f99; COLOR: #000
}
TR.ltred TD {
	BACKGROUND: #f99; COLOR: #000
}
TR.ltred TH {
	BACKGROUND: #f99; COLOR: #000
}
TABLE TR TD.ltred {
	BACKGROUND: #f99; COLOR: #000
}
TABLE TR TH.ltred {
	BACKGROUND: #f99; COLOR: #000
}
TD.dkblue {
	BACKGROUND: #669; COLOR: #fff
}
TH.dkblue {
	BACKGROUND: #669; COLOR: #fff
}
TR.dkblue TD {
	BACKGROUND: #669; COLOR: #fff
}
TR.dkblue TH {
	BACKGROUND: #669; COLOR: #fff
}
TABLE TR TD.dkblue {
	BACKGROUND: #669; COLOR: #fff
}
TABLE TR TH.dkblue {
	BACKGROUND: #669; COLOR: #fff
}
TD.dktan {
	BACKGROUND: #c96; COLOR: #000
}
TH.dktan {
	BACKGROUND: #c96; COLOR: #000
}
TR.dktan TD {
	BACKGROUND: #c96; COLOR: #000
}
TR.dktan TH {
	BACKGROUND: #c96; COLOR: #000
}
TABLE TR TD.dktan {
	BACKGROUND: #c96; COLOR: #000
}
TABLE TR TH.dktan {
	BACKGROUND: #c96; COLOR: #000
}
TD.lttan {
	BACKGROUND: #ffc; COLOR: #000
}
TH.lttan {
	BACKGROUND: #ffc; COLOR: #000
}
TR.lttan TD {
	BACKGROUND: #ffc; COLOR: #000
}
TR.lttan TH {
	BACKGROUND: #ffc; COLOR: #000
}
TABLE TR TD.lttan {
	BACKGROUND: #ffc; COLOR: #000
}
TABLE TR TH.lttan {
	BACKGROUND: #ffc; COLOR: #000
}
TD.dkgrey {
	BACKGROUND: #666; COLOR: #fff
}
TH.dkgrey {
	BACKGROUND: #666; COLOR: #fff
}
TR.dkgrey TD {
	BACKGROUND: #666; COLOR: #fff
}
TR.dkgrey TH {
	BACKGROUND: #666; COLOR: #fff
}
TABLE TR TD.dkgrey {
	BACKGROUND: #666; COLOR: #fff
}
TABLE TR TH.dkgrey {
	BACKGROUND: #666; COLOR: #fff
}
TD.ltgrey {
	BACKGROUND: #ccc; COLOR: #000
}
TH.ltgrey {
	BACKGROUND: #ccc; COLOR: #000
}
TR.ltgrey TD {
	BACKGROUND: #ccc; COLOR: #000
}
TR.ltgrey TH {
	BACKGROUND: #ccc; COLOR: #000
}
TABLE TR TD.ltgrey {
	BACKGROUND: #ccc; COLOR: #000
}
TABLE TR TH.ltgrey {
	BACKGROUND: #ccc; COLOR: #000
}
TD.ltblue {
	BACKGROUND: #ccf; COLOR: #000
}
TH.ltblue {
	BACKGROUND: #ccf; COLOR: #000
}
TR.ltblue TD {
	BACKGROUND: #ccf; COLOR: #000
}
TR.ltblue TH {
	BACKGROUND: #ccf; COLOR: #000
}
TABLE TR TD.ltblue {
	BACKGROUND: #ccf; COLOR: #000
}
TABLE TR TH.ltblue {
	BACKGROUND: #ccf; COLOR: #000
}
TD.vltgrey {
	BACKGROUND: #e8e8e8; COLOR: #000
}
TH.vltgrey {
	BACKGROUND: #e8e8e8; COLOR: #000
}
TR.vltgrey TD {
	BACKGROUND: #e8e8e8; COLOR: #000
}
TR.vltgrey TH {
	BACKGROUND: #e8e8e8; COLOR: #000
}
TABLE TR TD.vltgrey {
	BACKGROUND: #e8e8e8; COLOR: #000
}
TABLE TR TH.vltgrey {
	BACKGROUND: #e8e8e8; COLOR: #000
}
TD.yell {
	BACKGROUND: #ff6; COLOR: #000
}
TH.yell {
	BACKGROUND: #ff6; COLOR: #000
}
TR.yell TD {
	BACKGROUND: #ff6; COLOR: #000
}
TR.yell TH {
	BACKGROUND: #ff6; COLOR: #000
}
TABLE TR TD.yell {
	BACKGROUND: #ff6; COLOR: #000
}
TABLE TR TH.yell {
	BACKGROUND: #ff6; COLOR: #000
}
TD.green {
	BACKGROUND: #cc6; COLOR: #000
}
TH.green {
	BACKGROUND: #cc6; COLOR: #000
}
TR.green TD {
	BACKGROUND: #cc6; COLOR: #000
}
TR.green TH {
	BACKGROUND: #cc6; COLOR: #000
}
TABLE TR TD.green {
	BACKGROUND: #cc6; COLOR: #000
}
TABLE TR TH.green {
	BACKGROUND: #cc6; COLOR: #000
}
TD.orange {
	BACKGROUND: #f90; COLOR: #000
}
TH.orange {
	BACKGROUND: #f90; COLOR: #000
}
TR.orange TD {
	BACKGROUND: #f90; COLOR: #000
}
TR.orange TH {
	BACKGROUND: #f90; COLOR: #000
}
TABLE TR TD.orange {
	BACKGROUND: #f90; COLOR: #000
}
TABLE TR TH.orange {
	BACKGROUND: #f90; COLOR: #000
}
TD.white {
	BACKGROUND: #fff; COLOR: #000
}
TH.white {
	BACKGROUND: #fff; COLOR: #000
}
TR.white TD {
	BACKGROUND: #fff; COLOR: #000
}
TR.white TH {
	BACKGROUND: #fff; COLOR: #000
}
TABLE TR TD.white {
	BACKGROUND: #fff; COLOR: #000
}
TABLE TR TH.white {
	BACKGROUND: #fff; COLOR: #000
}
TD.white {
	BACKGROUND: #fff; COLOR: #000
}
TD.stat-cell {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(old_stat-line.gif) repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
TD.stat-space {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(old_stat-line.gif) repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
TD.stat-tcell {
	BACKGROUND: #333; COLOR: #fff
}
TD.stat-tspace {
	BACKGROUND: #333; COLOR: #fff
}
TD.stat-tspace {
	FONT-SIZE: 14pt
}
TD.stat-ucell {
	FONT-WEIGHT: bold; BACKGROUND: #ccc; COLOR: #666
}
TD.stat-uspace {
	FONT-WEIGHT: bold; BACKGROUND: #ccc; COLOR: #666
}
TD.stat-bline {
	BACKGROUND: #000
}
TD.stat-gline {
	BACKGROUND: #999
}
A.btn:link {
	FONT-WEIGHT: normal; BACKGROUND: #ccf; COLOR: #000; TEXT-DECORATION: none
}
A.btn:visited {
	FONT-WEIGHT: normal; BACKGROUND: #ccf; COLOR: #000; TEXT-DECORATION: none
}
A.btn:hover {
	FONT-WEIGHT: normal; BACKGROUND: #99c; COLOR: #000; TEXT-DECORATION: none
}
A.btn:active {
	FONT-WEIGHT: normal; BACKGROUND: #c33; COLOR: #fff; TEXT-DECORATION: none
}
TD.appbx {
	BACKGROUND: #ddd; COLOR: #000
}
TH.appbx {
	BACKGROUND: #ddd; COLOR: #000
}
TR.appbx TD {
	BACKGROUND: #ddd; COLOR: #000
}
TR.appbx TH {
	BACKGROUND: #ddd; COLOR: #000
}
TABLE.appbx {
	BACKGROUND: #ddd
}
TD.appcnt {
	BACKGROUND: #fff; COLOR: #000
}
TH.appcnt {
	BACKGROUND: #fff; COLOR: #000
}
TR.appcnt TD {
	BACKGROUND: #fff; COLOR: #000
}
TR.appcnt TH {
	BACKGROUND: #fff; COLOR: #000
}
TABLE.appcnt {
	BACKGROUND: #fff
}
.pipe {
	COLOR: #669
}
.tbar {
	FONT-WEIGHT: bold; BACKGROUND: #669; COLOR: #fff
}
A {
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #96c
}
A:link {
	COLOR: #594fbf
}
A.named:visited {
	COLOR: #594fbf
}
DIV.breadcrumb A:visited {
	COLOR: #594fbf
}
DIV.sitelinks A:visited {
	COLOR: #594fbf
}
A:hover {
	TEXT-DECORATION: underline
}
BIG {
	FONT-SIZE: 12pt
}
FORM {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD.vatop {
	VERTICAL-ALIGN: top
}
TH.vatop {
	VERTICAL-ALIGN: top
}
TR.vatop {
	VERTICAL-ALIGN: top
}
TR.vatop TD {
	VERTICAL-ALIGN: top
}
TR.vatop TH {
	VERTICAL-ALIGN: top
}
TABLE.vatop TD {
	VERTICAL-ALIGN: top
}
TABLE.vatop TH {
	VERTICAL-ALIGN: top
}
TABLE TD.vatop {
	VERTICAL-ALIGN: top
}
TABLE TH.vatop {
	VERTICAL-ALIGN: top
}
TD.vabottom {
	VERTICAL-ALIGN: bottom
}
TH.vabottom {
	VERTICAL-ALIGN: bottom
}
TABLE TD.vabottom {
	VERTICAL-ALIGN: bottom
}
TABLE TH.vabottom {
	VERTICAL-ALIGN: bottom
}
DIV.vabottom {
	VERTICAL-ALIGN: bottom
}
TD.vamiddle {
	VERTICAL-ALIGN: middle
}
TH.vamiddle {
	VERTICAL-ALIGN: middle
}
TABLE TD.vamiddle {
	VERTICAL-ALIGN: middle
}
TABLE TH.vamiddle {
	VERTICAL-ALIGN: middle
}
DIV.vamiddle {
	VERTICAL-ALIGN: middle
}
TD.smaller {
	FONT-SIZE: 9pt
}
SPAN.smaller {
	FONT-SIZE: 9pt
}
DIV.smaller {
	FONT-SIZE: 9pt
}
TD.smaller A {
	FONT-SIZE: 9pt
}
SPAN.smaller A {
	FONT-SIZE: 9pt
}
DIV.smaller A {
	FONT-SIZE: 9pt
}
.sunred {
	BACKGROUND: #d12124; COLOR: #fff
}
TD.sunred B {
	FONT-WEIGHT: bold; COLOR: #ffde00
}
TD.sunred DIV.navtitle {
	FONT-WEIGHT: bold; COLOR: #ffde00
}
TD.sunred A:link {
	COLOR: #fff
}
TD.sunred A:visited {
	COLOR: #fff
}
TD.sunred A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
TD.sunred LI {
	LIST-STYLE-IMAGE: url(ic_bullet_white.gif)
}
.redwidget {
	BACKGROUND: #d12124; VERTICAL-ALIGN: top; COLOR: #fff
}
TD.redwidget B {
	COLOR: #ffde00
}
TD.redwidget A:link {
	COLOR: #fff
}
TD.redwidget A:visited {
	COLOR: #fff
}
TD.redwidget A:hover {
	COLOR: #fbe249; TEXT-DECORATION: none
}
.sunblue {
	BACKGROUND: #594fbf; COLOR: #fff
}
TD.sunblue B {
	COLOR: #ffde00
}
TD.sunblue DIV.navtitle {
	COLOR: #ffde00
}
TD.sunblue A:link {
	COLOR: #fff
}
TD.sunblue A:visited {
	COLOR: #fff
}
TD.sunblue A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
TD.sunblue LI {
	LIST-STYLE-IMAGE: url(ic_bullet_white.gif)
}
.sunyellow {
	BACKGROUND: #fbe249
}
TD.sunyellow B {
	COLOR: #594fbf
}
TD.sunyellow DIV.navtitle {
	COLOR: #594fbf
}
TD.sunyellow A:link {
	COLOR: #594fbf
}
TD.sunyellow A:visited {
	COLOR: #594fbf
}
TD.sunyellow A:hover {
	COLOR: #594fbf; TEXT-DECORATION: underline
}
TD.tablecaption {
	FONT-WEIGHT: bold; BACKGROUND: #666; COLOR: #fff
}
TD.tablecaption2 {
	FONT-WEIGHT: bold; BACKGROUND: #000; COLOR: #fff
}
TD.tablecaption2 A:link {
	COLOR: #fff
}
TD.tablecaption2 A:visited {
	COLOR: #fff
}
TD.tablecaption2 A:hover {
	COLOR: #fff
}
TH.columncaption {
	FONT-WEIGHT: bold; BACKGROUND: #fbf47c; TEXT-ALIGN: left
}
TD.columncaption {
	FONT-WEIGHT: bold; BACKGROUND: #fbf47c; TEXT-ALIGN: left
}
TH.columncaption2 {
	FONT-WEIGHT: bold; BACKGROUND: #ccc; TEXT-ALIGN: left
}
TD.columncaption2 {
	FONT-WEIGHT: bold; BACKGROUND: #ccc; TEXT-ALIGN: left
}
TH.columncaption2 A:link {
	COLOR: #594fbf
}
TH.columncaption2:visited {
	COLOR: #594fbf
}
TD.columncaption2 A:link {
	COLOR: #594fbf
}
TD.columncaption2:visited {
	COLOR: #594fbf
}
TH.columncaption2 A:hover {
	COLOR: #594fbf
}
TD.columncaption2 A:hover {
	COLOR: #594fbf
}
TABLE.yellow1 {
	BACKGROUND: #ffc
}
TR.yellow1 {
	BACKGROUND: #ffc
}
TD.yellow1 {
	BACKGROUND: #ffc
}
TABLE.yellow2 {
	BACKGROUND: #ffffe2
}
TR.yellow2 {
	BACKGROUND: #ffffe2
}
TD.yellow2 {
	BACKGROUND: #ffffe2
}
TABLE.grey1 {
	BACKGROUND: #f1f1f1
}
TR.grey1 {
	BACKGROUND: #f1f1f1
}
TD.grey1 {
	BACKGROUND: #f1f1f1
}
TABLE.grey2 {
	BACKGROUND: #fff
}
TR.grey2 {
	BACKGROUND: #fff
}
TD.grey2 {
	BACKGROUND: #fff
}
TABLE.grey3 {
	BACKGROUND: #e3e3e3
}
TR.grey3 {
	BACKGROUND: #e3e3e3
}
TD.grey3 {
	BACKGROUND: #e3e3e3
}
TABLE.navblue {
	BACKGROUND: #e4e9ff
}
TR.navblue {
	BACKGROUND: #e4e9ff
}
TD.navblue {
	BACKGROUND: #e4e9ff
}
TABLE.white1 {
	BACKGROUND: #fff
}
TR.white1 {
	BACKGROUND: #fff
}
TD.white1 {
	BACKGROUND: #fff
}
TABLE.dkgrey1 {
	BACKGROUND: #ccc
}
TR.dkgrey1 {
	BACKGROUND: #ccc
}
TD.dkgrey1 {
	BACKGROUND: #ccc
}
TABLE.blue1 {
	BACKGROUND: #8a9ce8
}
TR.blue1 {
	BACKGROUND: #8a9ce8
}
TD.blue1 {
	BACKGROUND: #8a9ce8
}
TD.sectiontitle1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
TD.sectiontitle1 A {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
TD.sectiontitle1 DIV {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
TD.sectiontitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
TD.sectiontitle2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
TD.sectiontitle2 DIV {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; FONT-FAMILY: geneva,helvetica,arial,"lucida sans",sans-serif
}
P.largewhite {
	FONT-SIZE: 12pt; MARGIN: 3px 0px 0px; COLOR: #fff
}
P.largewhite A:link {
	FONT-SIZE: 12pt; COLOR: #fff
}
P.largewhite A:hover {
	FONT-SIZE: 12pt; COLOR: #fff
}
P.largewhite A:visited {
	FONT-SIZE: 12pt; COLOR: #fff
}
.red {
	COLOR: #d12124
}
.sunblue .red {
	COLOR: #d12124
}
.sunyellow .red {
	COLOR: #d12124
}
SPAN.rightarrow {
	FONT-FAMILY: verdana,sans-serif
}
SPAN.rightarrowblue {
	COLOR: #899ce6; FONT-FAMILY: verdana,sans-serif
}
SPAN.rightarrowred {
	COLOR: #cc3335; FONT-FAMILY: verdana,sans-serif
}
SPAN.rightarrowwhite {
	COLOR: #fff; FONT-FAMILY: verdana,sans-serif
}
DIV.pagetitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 19pt; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px
}
DIV.pagetitle2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 14pt; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 0px
}
DIV.smallpagetitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 18pt; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px
}
DIV.breadcrumb {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; COLOR: #899ce6; PADDING-TOP: 0px
}
DIV.sitelinks A {
	FONT-SIZE: 9pt
}
DIV.sitelinks {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.navtitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
DIV.padbottom6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 0px
}
DIV.padtop6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
DIV.pad6 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
DIV.pad8 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
DIV.pad10 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.headerpadding {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
DIV.gwpadding1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 8px; PADDING-BOTTOM: 7px; PADDING-TOP: 2px
}
DIV.pad5x10 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.pad2x8 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
DIV.pad0x10 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.pad10x0 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.pad3x0 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
DIV.redwidgetpadding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px
}
DIV.pad5x10x5x0 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.pad10x10x10x0 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.cellpadtop {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
DIV.cellpadbottom {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 0px
}
.sp10 {
	FONT-SIZE: 8px
}
.sp8 {
	FONT-SIZE: 7px
}
.sp5 {
	FONT-SIZE: 4px
}
.sp2 {
	FONT-SIZE: 2px
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT.rightmodule {
	WIDTH: 129px; HEIGHT: 20px
}
SELECT.homepage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 110px; PADDING-TOP: 0px; HEIGHT: 20px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT.medium {
	WIDTH: 120px; HEIGHT: 18px
}
INPUT.mediumlarge {
	WIDTH: 130px; HEIGHT: 18px
}
INPUT.large {
	WIDTH: 200px
}
INPUT.buttonblue {
	BORDER-RIGHT: #000 0px; PADDING-RIGHT: 0px; BORDER-TOP: #000 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: #594fbf; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000 0px; CURSOR: hand; COLOR: #fff; PADDING-TOP: 0px; BORDER-BOTTOM: #000 0px; FONT-FAMILY: verdana; HEIGHT: 1.4em
}
INPUT.buttonred {
	BORDER-RIGHT: #000 0px; PADDING-RIGHT: 0px; BORDER-TOP: #000 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: #d12124; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000 0px; CURSOR: hand; COLOR: #fff; PADDING-TOP: 0px; BORDER-BOTTOM: #000 0px; FONT-FAMILY: verdana; HEIGHT: 1.4em
}
TD.active {
	FONT-WEIGHT: bold; BACKGROUND: #000; COLOR: #fff
}
TD.active A:active {
	COLOR: #fff; TEXT-DECORATION: none
}
TD.active A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
TD.active A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
TD.passive {
	FONT-WEIGHT: bold; BACKGROUND: #ccc; COLOR: #000
}
TD.unavailable {
	FONT-WEIGHT: bold; BACKGROUND: #000; COLOR: #999
}
TR.index TD {
	LINE-HEIGHT: 150%
}
TR.index A:link IMG {
	BORDER-LEFT-COLOR: #333399; BORDER-BOTTOM-COLOR: #333399; BORDER-TOP-COLOR: #333399; BORDER-RIGHT-COLOR: #333399
}
TR.index A:visited IMG {
	BORDER-LEFT-COLOR: #9999ff; BORDER-BOTTOM-COLOR: #9999ff; BORDER-TOP-COLOR: #9999ff; BORDER-RIGHT-COLOR: #9999ff
}
TR.index A:active IMG {
	BORDER-LEFT-COLOR: #ff0000; BORDER-BOTTOM-COLOR: #ff0000; BORDER-TOP-COLOR: #ff0000; BORDER-RIGHT-COLOR: #ff0000
}
TR.index A:link {
	COLOR: #3366ff; TEXT-DECORATION: none
}
TR.index A:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
TR.index A:visited {
	COLOR: #330066; TEXT-DECORATION: none
}
UL.toc {
	LIST-STYLE-TYPE: none
}
UL.toc {
	LIST-STYLE-TYPE: none
}
LI.toc {
	LIST-STYLE-TYPE: none
}
LI.toc {
	LIST-STYLE-TYPE: none
}
